.edit-vehicle-overlay {
  padding-top: 0;
}

.edit-vehicle__title {
  padding: 10px 0;
  text-align: center;
}

.edit-vehicle {
  padding-top: 0px;
  height: 100vh;
}

.edit-vehicle-group {
  display: flex;
  gap: 10px;
}

.edit-vehicle__change {
  margin-bottom: 20px !important;
}

.edit-vehicle__input {
  z-index: 0;
}

.edit-vehicle__red {
  color: red;
}

.edit-vehicle__loader {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
