.register__form {
  padding: 94px 16px 0;
}

.register__label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--black);
}

.register__label-required {
  color: var(--red);
}

.register__buttons {
  display: flex;
}

.register__delete {
  position: absolute;
  top: 10px;
  right: 10px;
}

.register__btn {
  flex-grow: 1;
  margin-bottom: 22px;
  width: 50%;
  padding: 12px 0;
  background: var(--primary);
  border: 1px solid var(--secondary);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--white);
}

.register__btn-first {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.register__btn-second {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.register__swiper {
  position: relative;
}

.register__photos {
  display: none;
}

.register__slider {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}
